.Navbar {
    width:100%;
    padding: 20px 6%;
    display:flex;
    justify-content:space-between;
    position:fixed;
    font-size:18px;
    color:#e5e5e5;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.7) 10%,transparent);
    position:fixed;
    margin-top: auto;
    z-index:1;
    
 

}
.Navbar-left {
    display:flex;
    align-items: center;
    gap:50px;
}
.Navbar-left ul {
    display:flex;
    list-style:none;
    gap:20px;
}
.Navbar-left ul li{
    cursor:pointer;
}

.Navbar-right ul{
    display:flex;
    list-style:none;
    gap:20px;
}
.Navbar-right ul li{
    cursor:pointer;
}